<hr>
<footer class="container">
    <nav>
        <ul></ul>
        <ul>
            <li><a class="contrast" rel="me" href="mailto:{{site.author.email}}" title="Email">{% include icons/email.svg %}</a></li>
            <li><a class="contrast" rel="me" href="https://github.com/{{site.GITHUB_USER}}" title="GitHub">{% include icons/github.svg %}</a></li>
            <li><a class="contrast u-url" rel="me" href="https://fed.brid.gy/r/https://{{site.domain}}/">{% include icons/fediverse.svg  %}</a></li>
            <li><a class="contrast" href="/feed.xml" title="RSS">{% include icons/rss.svg %}</a></li>
        </ul>
    </nav>
</footer>