---
layout: base
permalink: "{{page.fileSlug}}/"
---
<article class="h-entry">
  <h1 class="p-name">{{ title }}</h1>
  {% include partials/h-card.html %}
  {% assign author = site.author %}
  {% assign url = page.url %}
  {% include partials/authortime.liquid %}
  <div class="e-content">{{ content | safe }}</div>
  {% include partials/webmentions %}
</article>